html,
body,
header,
main,
article,
section,
h1,
h2,
h3,
h4,
p,
span,
div,
ul,
li,
a,
button,
input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.telaCheia {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.caixaPai {
  width: 90%;
  height: 85%;
  background-color: #e2242486;
  border-radius: 5px 50px 5px 50px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 4px 3px 4px;
  border-bottom: 2px solid grey;
  text-transform: capitalize;
}
.bntLista {
  padding: 1vh 5vw;
  border-radius: 50px 3px 50px 3px;
  border: none;
  font-style: italic;
  background-color: #83dddd;
}

.listaPai {
  height: 90%;
  width: 100%;
}

.input {
  padding: 5px 3px 5px 3px;
  border: none;
  border-radius: 17px 0 17px 0;
}
.bntInput {
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  border-radius: 20px 3px 20px 3px;
}

.formTopo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
}
