html,
body,
header,
main,
article,
section,
h1,
h2,
h3,
h4,
p,
span,
div,
ul,
li,
a,
button,
input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.telaCheia {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.caixaPai {
  width: 90%;
  max-width: 600px;
  height: 85%;
  background-color: #e2242486;
  border-radius: 5px 50px 5px 50px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 4px 3px 4px;
  border-bottom: 2px solid grey;
  text-transform: capitalize;
}
.bntLista {
  padding: 1vh 5vw;
  border-radius: 50px 3px 50px 3px;
  border: none;
  font-style: italic;
  background-color: #83dddd;
}

.listaPai {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: 20px;
}
.listaPai::-webkit-scrollbar {
  width: 10px;
}
.listaPai::-webkit-scrollbar-track {
  background: #282c3450;
  border-radius: 20px;
}
.listaPai::-webkit-scrollbar-thumb {
  background-color: #0000ff;
  border-radius: 20px;
  border: 3px solid #ffa500;
}

.input {
  width: 73%;
  max-width: 400px;
  padding: 5px 3px 5px 3px;
  border: none;
  border-radius: 15px 0 15px 0;
}
.input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.bntInput {
  padding: 1vh 3.8vw;
  border: none;
  border-radius: 6px;
  border-radius: 20px 3px 20px 3px;
  font-weight: 600;
}
.bntInput:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
.formTopo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
}
